.QuoteCard {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  width: 50vw;
  margin: 20px auto;
  transition: transform 0.3s ease-in-out;
}

.QuoteCard:hover {
  transform: scale(1.05);
}

.quote-text {
  font-size: 1.5em;
  color: #333;
  font-style: italic;
}

.author-text {
  font-size: 1.2em;
  color: #555;
  margin-top: 10px;
}

.like-count {
  margin-top: 20px;
  color: #888;
}
