@tailwind base;
@tailwind components;
@tailwind utilities;

.likeButton {
  @apply text-xs font-extrabold rounded-lg m-2 cursor-pointer text-red-400 py-2 px-3   tracking-wider border hover:bg-red-400 transform hover:scale-125 hover:text-white transition ease-out duration-300;
}

.nextBtn {
  @apply bg-gray-300 rounded-lg py-2 px-3 uppercase text-xs font-bold cursor-pointer tracking-wider hover:shadow-inner transform hover:scale-125 hover:bg-opacity-50 duration-300;
}

padding: 10px 20px;
font-size: 1.1em;
border: none;
border-radius: 5px;
cursor: pointer;
margin: 10px;
transition: background-color 0.3s ease;
background-color: #4caf50;
color: white;
min-width: 48px;
.btn:hover {
  background-color: #45a049;
}
